<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font larger</key>
	<array>
		<string>=</string>
	</array>
	<key>Font smaller</key>
	<array>
		<string>-</string>
	</array>
	<key>Next Page</key>
	<array>
		<string>Ctrl+D</string>
	</array>
	<key>Previous Page</key>
	<array>
		<string>Ctrl+U</string>
	</array>
</dict>
</plist>
