# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~='cd ~'
alias -- -="cd -"
alias cd=my_cd_func
alias c='cd "$(ls  -dx -- */ .*/ | yank-cli -i)"'

# z.lua
alias zh='z -I -t .' # 使用 fzf 选择最近去过的目录
alias zc='z -c'      # 严格匹配当前路径的子路径
alias zz='z -i'      # 使用交互式选择模式
alias zf='z -I'      # 使用 fzf 对多个结果进行选择
alias zb='z -b'      # 快速回到父目录

# some more ls aliases
alias ll='ls -alhovqF --color=always --group-directories-first --time-style +"%F %T"'
alias la='ls -A'
alias lk='ls -AlXHLF --color=always'
alias ls='ls -Fh --color=auto --group-directories-first'
alias lsd="ls -lF --color=always | grep --color=never '^d'"

# BookMarks
alias dt='cd ~/desktop'
alias ws='cd ~/workspace'
alias dl='cd ~/downloads'
alias ds='cd ~/dotfiles'
alias cf='cd ~/.config'

# Easy report
alias grep='grep --color=auto'
alias fdir='find . -type d -name'
alias ff='find . -type f -name'
alias h='history'
alias cp='cp -iv'
alias mv='mv -iv'
alias ln='ln -iv'
alias mkdir='mkdir -v'
alias rm='rm -i'
alias rmf='rm -rf'

# Tmux
alias tm='test -z "$TMUX" && (tmux attach || tmux new-session -s "TaoTao")'

# Shortcuts
alias cl='clear'
alias cat='bat'
alias e='exit'

# Developer shortcuts
alias g='git'
alias python='python3'

# Yank clip
alias yank='yank-cli | xclip -sel c'

# Google-Chrome
alias chrome="google-chrome --force-dark-mode --proxy-server=socks5://127.0.0.1:1080"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Windows
alias pbcopy='clip.exe'
alias pbpaste="powershell.exe -command 'Get-Clipboard' | tr -d '\r' | head -n -1"

# Other
alias sai='sudo apt install'
alias mail='neomutt ; clear'
alias rss='newsboat'
alias file='raiseorlaunch -c nautilus -e "nautilus ."'
alias pdf='zathura'
