# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ~='cd ~'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'

# some more ls aliases
alias ll='ls -alhovqF --color=always --group-directories-first'
alias la='ls -A'
alias l='ls -CF'
alias lk='ls -AlXHLF --color=always'

alias c='cd "$(ls  -dx -- */ .*/ | yank-cli -i)"'

# BookMarks
alias dt='cd ~/desktop && ls -lhA'
alias ws='cd ~/workspace && ls -lhA'
alias dl='cd ~/downloads && ls -lhA'
alias ds='cd ~/dotfiles && ls -lhA'
alias cf='cd ~/.config && ls -lhA'

# Easy report
alias ls='ls -Fh --color=auto --group-directories-first'
alias grep='grep --color=auto'
alias l='ls -l'
alias la='ls -lA'
alias fdir='find . -type d -name'
alias ff='find . -type f -name'
alias h='history'
alias cp='cp -iv'
alias mv='mv -iv'
alias ln='ln -iv'
alias mkdir='mkdir -v'
alias rm='rm -i'
alias rmf='rm -rf'

# Tmux
alias tm='test -z "$TMUX" && (tmux attach || tmux new-session -s "TaoTao")'

# Shortcuts
alias cl='clear'
alias cat='bat'
alias e='exit'

# Developer shortcuts
alias g='git'
alias python='python3'

# Yank clip
alias yank='yank-cli | xclip -sel c'

# Google-Chrome
alias chrome="google-chrome --force-dark-mode --proxy-server=socks5://127.0.0.1:1080"

# Other
alias sai='sudo apt install'
alias mail='neomutt'
alias rss='newsboat'
alias file='nautilus .'

# ----------------------------------------------------------
# Fcode bind | showkey -a
# ----------------------------------------------------------
# Ctrl+l
# bind -x '"\C-l":ls -l'
# F5
# bind '"\e[15~":"cd $HOME && ll\n"'
