# Locale.
# 本地语言环境设定
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"

# Term.
# Term颜色设定
export TERM="xterm-256color"

# Default Editor.
# 默认编辑器设定
export EDITOR="vim"

# Default Pager.
# 默认文字预览设定
export PAGER="less"

# FZF.
# FZF默认功能设定及颜色设定
export FZF_DEFAULT_OPTS=" \
    --color=fg:#c0c5ce,bg:#212121,hl:#808080,fg+:#e6e6e6,bg+:#3b3b3b,hl+:#f7c662 \
    --color=info:#f7c662,prompt:#6699cc,pointer:#a6bc69,marker:#a6bc69,spinner:#f7c662,header:#6699cc"

# ripgrep.
# Rg模糊搜索设定
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# Less.
# 文档预览Less设定
export LESS="--RAW-CONTROL-CHARS"
export LESS_TERMCAP_mb=$'\e[1;31m' # Start blinking
export LESS_TERMCAP_md=$'\e[1;34m' # Start bold mode
export LESS_TERMCAP_me=$'\e[0m' # End all mode
export LESS_TERMCAP_so=$'\e[38;5;215m' # Start standout mode
export LESS_TERMCAP_se=$'\e[0m' # End standout mode
export LESS_TERMCAP_us=$'\e[4;35m' # Start underline
export LESS_TERMCAP_ue=$'\e[0m' # End underline
