# Locale.
# 本地语言环境设定
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"

# Term.
# Term颜色设定
export TERM="xterm-256color"

# Default Editor.
# 默认编辑器设定
export EDITOR="vim"

# Default Pager.
# 默认文字预览设定
export PAGER="less"

# 多用户历史记录保存及读取
export PROMPT_COMMAND="history -a; history -r;  $PROMPT_COMMAND"    

# FZF.
# FZF默认功能设定及颜色设定
export FZF_DEFAULT_OPTS=" \
    --color=fg:#abb2bf,bg:#282c34,hl:#e06c75,fg+:#61afef,bg+:#282c34,hl+:#c678dd \
    --color=info:#f7c662,prompt:#e06c75,pointer:#61afef,marker:#a6bc69,spinner:#f7c662,header:#6699cc"

# CTRL+T 搜索目录
export FZF_DEFAULT_COMMAND="fd --hidden --follow --exclude .git -t f . /"
export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"

# ALT+C 搜索文件夹并cd进入
export FZF_ALT_C_COMMAND="fd -t d . /"

# ripgrep.
# Rg模糊搜索设定
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# Less.
# 文档预览Less设定
export LESS="--RAW-CONTROL-CHARS"
export LESS_TERMCAP_mb=$'\e[1;31m' # Start blinking
export LESS_TERMCAP_md=$'\e[1;34m' # Start bold mode
export LESS_TERMCAP_me=$'\e[0m' # End all mode
export LESS_TERMCAP_so=$'\e[38;5;215m' # Start standout mode
export LESS_TERMCAP_se=$'\e[0m' # End standout mode
export LESS_TERMCAP_us=$'\e[4;35m' # Start underline
export LESS_TERMCAP_ue=$'\e[0m' # End underline

# Tldr
export TLDR_HEADER='magenta bold underline'
export TLDR_QUOTE='italic'
export TLDR_DESCRIPTION='green'
export TLDR_CODE='red'
export TLDR_PARAM='blue'
