! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

!----------------------
! OneDark Theme
!----------------------
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #BE5046

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #5C6370
*.color15: 	    #ABB2BF

!----------------------
! Nord Theme
!----------------------

!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD

!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6


! 边框
*.borderLess:False

! 滚动条设置
*.scrollBar:False

! 字体设置
Xft.dpi:96

! 英文字体
! URxvt.font:xft:Inziu Iosevka SC:size=10:style=Bold:antialias=true
URxvt.font:xft:Inziu Iosevka SC:size=10:style=Bold:antialias=true

! 中文字体
! URxvt.boldfont:xft:Saber:size=10:style=Bold:antialias=true
URxvt.boldfont:xft:Saber:size=10:style=Bold:antialias=true

! 输入法
*inputMethod:fcitx
